<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title><TMPL_VAR name></title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
	<meta content="#4a86cf" name="theme-color">
	<meta content="Planet GNOME" name="application-name">
	<link rel="shortcut icon" type="image/png" href="https://planet.gnome.org/img/favicon.ico">
	<link rel="alternate" type="application/atom+xml" title="<TMPL_VAR title ESCAPE="HTML"> Atom 1.0" href="<TMPL_VAR link ESCAPE="HTML">atom.xml">
	<link rel="alternate" type="application/rss+xml" title="<TMPL_VAR title ESCAPE="HTML"> RSS 2.0" href="<TMPL_VAR link ESCAPE="HTML">rss20.xml">
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://planet.gnome.org/css/nlayout.css" type="text/css">
	<link rel="stylesheet" href="https://planet.gnome.org/css/planet.css" type="text/css">
	<link rel="stylesheet" href="https://planet.gnome.org/css/generic.css" type="text/css">
	<link rel="stylesheet" href="https://blogs.gnome.org/wp-content/mu-plugins/bug-links/bug-links.css" type="text/css">
	<link href="https://static.gnome.org/css/deneb.min.css" media="all" rel="stylesheet" type="text/css">
	<link href="https://static.gnome.org/css/fonts.css" media="all" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="https://static.gnome.org/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://static.gnome.org/js/deneb.min.js"></script>
	<script type="text/javascript" src="https://planet.gnome.org/js/jquery.lazyload.min.js"></script>
	<script type="text/javascript"><!-- $(function(){ $('.post img').lazyload(); }); --></script>
</head>

<body class="gnome-body">
<header class="gnome-header">
	<nav class="navbar navbar-fixed-top navbar-default affix-top">
		<div class="container">
			<div class="navbar-header">
				<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-wrapper" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<a class="gnome-navbar-brand" title="Go to home page">
					<img alt="GNOME: The Free Software Desktop Project" src="https://planet.gnome.org/img/gnome-logo.svg">
				</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-wrapper">
				<ul class="nav navbar-nav">
					<li>
						<a href="#feeds">Feeds</a>
					</li>
				</ul>
			</div>
		</div>
    <script type="text/javascript" src="https://static.gnome.org/friends/ruler/ruler-fog.js"> </script>
	</nav>
</header>

<div class="gnome-content">
	<section id="featured">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="h2 text-center">24 hours a day, 7 days a week, 365 days per year…</p>
				</div>
			</div>
		</div>
	</section>

	<section id="blog-entries">
	<div id="content">

	<TMPL_IF banner_message>
	<div class="banner"><TMPL_VAR banner_message></div>
	</TMPL_IF>

	<TMPL_LOOP Items>

		<TMPL_IF new_date>
			<h3 class="date"><TMPL_VAR new_date></h3>
		</TMPL_IF>

		<div class="entry<TMPL_IF channel_nick> <TMPL_VAR channel_nick></TMPL_IF>">
			<div class="person-info">
				<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_IF channel_face><img class="img-circle" src="<TMPL_VAR channel_face ESCAPE="HTML">" alt=""><br><TMPL_ELSE><img class="img-circle" src="https://planet.gnome.org/heads/nobody.png" alt=""><br></TMPL_IF><TMPL_VAR channel_name><TMPL_IF channel_real><br><TMPL_VAR channel_real></TMPL_IF><TMPL_IF channel_nick><br>(<TMPL_VAR channel_nick>)</TMPL_IF></a>
				<TMPL_IF channel_opw2013><p><a href="https://wiki.gnome.org/GnomeWomen/OutreachProgram" title="GNOME Outreach Program for Women"><img src="https://planet.gnome.org/heads/logos/opw2013.png" alt="OPW 2013" /></a></p></TMPL_IF>
				<TMPL_IF channel_gsoc2013><p><a href="https://wiki.gnome.org/SummerOfCode2013" title="Google Summer of Code 2013"><img src="https://planet.gnome.org/heads/logos/gsoc2013.png" alt="GSoC 2013" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2014><p><a href="https://wiki.gnome.org/SummerOfCode2014" title="Google Summer of Code 2014"><img src="https://planet.gnome.org/heads/logos/gsoc2014.png" alt="GSoC 2014" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2015><p><a href="https://wiki.gnome.org/SummerOfCode2015" title="Google Summer of Code 2015"><img src="https://planet.gnome.org/heads/logos/gsoc-2015.png" alt="GSoC 2015" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2016><p><a href="https://wiki.gnome.org/SummerOfCode2016" title="Google Summer of Code 2016"><img src="https://planet.gnome.org/heads/logos/gsoc-2016.png" alt="GSoC 2016" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2017><p><a href="https://wiki.gnome.org/SummerOfCode2017" title="Google Summer of Code 2017"><img src="https://planet.gnome.org/heads/logos/gsoc-2017.png" alt="GSoC 2017" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2018><p><a href="https://wiki.gnome.org/SummerOfCode2018" title="Google Summer of Code 2018"><img src="https://planet.gnome.org/heads/logos/gsoc-2018.png" alt="GSoC 2018" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2019><p><a href="https://wiki.gnome.org/action/show/Outreach/SummerOfCode" title="Google Summer of Code 2019"><img src="https://planet.gnome.org/heads/logos/gsoc-2019.png" alt="GSoC 2019" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2020><p><a href="https://wiki.gnome.org/action/show/Outreach/SummerOfCode" title="Google Summer of Code 2020"><img src="https://planet.gnome.org/heads/logos/gsoc-2020.png" alt="GSoC 2020" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2021><p><a href="https://wiki.gnome.org/action/show/Outreach/SummerOfCode" title="Google Summer of Code 2021"><img src="https://planet.gnome.org/heads/logos/gsoc-2021.png" alt="GSoC 2021" /></a></p></TMPL_IF>
                                <TMPL_IF channel_opw2014><p><a href="https://wiki.gnome.org/GnomeWomen/OutreachProgram" title="GNOME Outreach Program for Women"><img src="https://planet.gnome.org/heads/logos/opw2014.png" alt="OPW 2014" /></a></p></TMPL_IF>
				<TMPL_IF channel_guadec><p><a href="https://www.guadec.org/" title="The GNOME Conference"><img src="https://planet.gnome.org/heads/logos/guadec.png" alt="The GNOME Conference" /></a></p></TMPL_IF>
				<TMPL_IF channel_outreachy><p><a href="https://outreachy.org/" title="Outreachy"><img src="https://planet.gnome.org/heads/logos/outreachy.png" alt="Outreachy" /></a></p></TMPL_IF>
				<TMPL_IF channel_gtkblog><p><a href="https://blog.gtk.org/" title="GTK Development Blog"><img src="https://planet.gnome.org/heads/logos/gtk.png" alt="GTK" /></a></p></TMPL_IF>
				<TMPL_IF channel_shellblog><p><a href="https://blogs.gnome.org/shell-dev" title="GNOME Shell Development Blog"><img src="https://planet.gnome.org/heads/logos/gnome-shell.png" alt="GNOME Shell" /></a></p></TMPL_IF>
				<TMPL_IF channel_season_docs><p><a href="https://www.gnome.org/news/2020/05/gnome-season-of-docs-2020/" title="Google Season of Docs 2020"><img src="https://planet.gnome.org/heads/logos/season_docs.png" alt="Season of Docs" /></a></p></TMPL_IF>
			</div>

			<div class="post">
				<div class="post-header">
					<TMPL_IF title><h3 class="post-title"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h3></TMPL_IF>
				</div> <!-- /post-header -->

				<div class="post-contents <TMPL_IF channel_fixedwidth>post-fixedwidth</TMPL_IF>">
					<TMPL_VAR content>
				</div> <!-- /post-contents -->

				<div class="post-footer">
					<p><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR date></a></p>
				</div> <!-- /post-footer -->
			</div> <!-- /post -->
	</div> <!-- /entry -->

	</TMPL_LOOP>

	</div> <!-- /content -->
	</section>  <!-- /blog-entries -->
</div> <!-- /gnome-content -->


<div id="feeds-container">
	<div class="container">
		<div class="row">
			<div id="feeds" class="col-xs-12">
				<h3><a href="feeds.html">Feeds</a></h3>
				<div id="feedlist"></div>
			</div>
		</div>
	</div>
</div>

<div class="footer m-t-0">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-9">
				<div class="column">
					<div class="section">
						<h3><TMPL_VAR title ESCAPE="HTML"></h3>
						<p><b><TMPL_VAR title ESCAPE="HTML"> is a window into the world, work and lives of GNOME <a href="https://planet.gnome.org/heads/">hackers and contributors</a>.</b></p>
						<p><TMPL_VAR title ESCAPE="HTML"> is edited by Alberto Ruiz, Daniel Mustieles García and Frederic Muller. Please <a href="mailto:planet-maint@gnome.org?Subject=planet.gnome.org">mail them</a> if you have a question. If you would like your blog added to the feed, please <a href="https://gitlab.gnome.org/Infrastructure/planet-web/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=">file a bug</a>. Make sure to read the <a href="http://live.gnome.org/PlanetGnome"><TMPL_VAR title ESCAPE="HTML"> guidelines</a> first, as it should cover most questions and as it contains detailed instructions for a blog addition.</p>
						<p>Design by <a href="http://vinicius.depizzol.com.br/blog/">Vinicius Depizzol</a> and <a href="http://aruiz.typepad.com">Alberto Ruiz</a>, inspired by earlier work from <a href="http://bethesignal.org/">Jeff Waugh</a>, <a href="http://www.actsofvolition.com/">Steven Garrity</a>, <a href="http://www.gnome.org/~seth/">Seth Nickell</a> and Diana Fong.</p>
						<p id="ownership">Planet GNOME automatically reposts blog entries from the GNOME community. Entries on this page are owned by their authors. We do not edit, endorse or vouch for the contents of individual posts.</p>
						<p>Updated on <TMPL_VAR date> UTC. Entries are normalised to UTC time.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="section">
					<h3>GNOME World Wide</h3>
					<p>GNOME communities around the world by region and language:</p>
					<ul>
					  <li><a href="http://planeta.br.gnome.org/">Brazil</a></li>
					  <li><a href="http://planeta.gnome.cl/">Chile</a></li>
					  <li><a href="http://planet.gnomefr.org/">Francophile</a></li>
					  <li><a href="http://planet.gnome.gr/">Greece</a></li>
					  <li><a href="http://planeta.es.gnome.org/">Hispano</a></li>
					  <li><a href="http://www.gnome.org.tr/">Turkey</a></li>

						<!-- Broken planets -->
					  <!--li><a href="http://www.gnomebangalore.org/?q=blog">Bangalore, India</a></li-->
					  <!--li><a href="http://gnome.cult.bg/">Bulgaria</a></li-->
					  <!--li><a href="http://planet.gnome-ev.de/">Germany</a></li-->
					  <!--li><a href="http://it.gnome.org/planet/">Italy</a></li-->
					  <!--li><a href="http://gnome.or.kr/pgk/">Korea</a></li-->
					  <!--li><a href="http://www.uk.gnome.org/planet/">United Kingdom</a></li-->
					</ul>
				</div>
			</div>
			<div class="col-xs-12 footnotes">
				<div class="section">
					<p>© <a href="https://www.gnome.org/">The GNOME Project</a>.</p>
					<p>Planet GNOME. Hosted by <a href="https://www.redhat.com/" target="_blank">Red Hat</a>. Powered by <a href="http://www.planetplanet.org/">Planet</a> aggregator, <a href="http://www.python.org/">Python</a>, cron.</p>
				</div>
			</div> <!-- /footnotes -->
		</div>
	</div>
</div> <!-- /footer -->

	<script type="text/javascript" src="https://planet.gnome.org/js/jquery.cookie.min.js"></script>
	<script type="text/javascript">
	function toggleFeeds() {
		$("#feedlist").slideToggle(function() {
			$("#feeds h3").toggleClass("open");
		});
	}
	$(document).ready(function() {
		var hidden = $.cookie("hidden") ? $.cookie("hidden").split(",") : new Array();
		// hide posts by disabled folks
		if (hidden.length > 0) for (i in hidden) {
			$("div." + hidden[i]).hide();
		}
		$("#feeds h3 a").click(function(e) {
			e.preventDefault();
			if ($("#feedlist ul").length == 0) {
				$("#feedlist").load('feeds.html', '', function(r,t,x) {
					$('<input type="checkbox" checked>')
						.change(function() {
							var nick = $(this).parent().attr("class");
							var i = $.inArray(nick, hidden);
							if ($(this).attr("checked")) {
								if (hidden[i]) hidden.splice(i, 1);
								$("div." + nick).show();
							} else {
								if (!hidden[i]) hidden[hidden.length] = nick;
								$("div." + nick).hide();
							}
							$.cookie("hidden", hidden.join(","),
								{expires: 365});
						})
						.prependTo("#feedlist ul li");
					// remove checks from disabled folks
					for (i in hidden) {
						$("#feedlist ul li." + hidden[i] + " input")
							.removeAttr("checked");
					}
					toggleFeeds();
				});
			} else {
				toggleFeeds();
			}
		});
	});
	</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['disableCookies']);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://webstats.gnome.org/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "2"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</body>

</html>
