/* body */

body {
	margin: 0px;
	background-color: #fff;
	color: #000;
}

/* header */

#banner {
	background: url('img/hdr-planet.jpg') no-repeat;
	background-color: #657da2; 
	background-position: right;
	border-bottom: 1px solid #ffc333;
	height: 48px;
}

#logo {
	position: absolute;
	top: 10px;
	left: 10px;
	background: url('img/gnome-64.png') no-repeat;
	width: 68px;
	height: 68px;
}

#logo img {
	border: 0px;
	width: 64px;
	height: 64px;
}

#title {
	position: absolute;
	top: 12px;
	left: 85px;
}

#title a {
	color: #fff;
	font-size: 140%;
	font-family: verdana;
}

#title a:hover {
	text-decoration: none;
}


#hdrNav {
	margin-top: 6px;
	margin-left: 84px;
	margin-right: 190px;
	padding-right: 3em;
	font-size: small;
}

#hdrNav a {
	color: #000000;
}

#hdrNav a:hover {
	text-decoration: none;
}

#body {
	margin: 0 190px 0 0; 
	padding: 1.5em 3em 0em 1em; 
}

#body *:first-child {
	margin-top: 0;
}

#date {
	height: 28px;
/*	background-color: #efebe7; */
/*	border: 1px solid; */
/*	border-color: #ffc333; */
	margin-bottom: 10px;
}


#copyright {
	clear: both;
	padding-bottom: 1em;
	text-align: center;
	font-size: small;
	color: #aaaaaa;
}

#copyright a {
	color: #aaaaff;
}

#copyright a:visited {
	color: #ffaaaa;
}


/* SIDEBAR */

#sidebar {
	position: absolute;
	top: 49px;
	right: 0px;
	/*width: 210px;*/
/*	border-left: 1px solid #ffc333; */
/*	background-color: #eeeeee; */
/*	background-color: #efebe7; */
	color: black;
}

#sidebar div.section {
	width: 190px;
	padding: 1em;
/*	border-top: 1px solid #000; */
/*	border-bottom: 1px solid #ffc333; */
}

#sidebar div.section h3 {
	text-align: center; 
	background-color: #efebe7;
	border: 1px solid #657da2;
	font-weight: bold;
	font-size: 110%;
	color: #657da2;
}

#sidebar *:first-child {
	margin-top: 0;
}

#sidebar *:last-child {
	margin-bottom: 0;
}

#sidebar div.section ul {
	padding: 0;
	list-style-type: none;
}

#sidebar div.section ul ul {
	padding-left: 1.5em;
	list-style-type: square;
}

#sidebar div.section p {
	font-size: small;
}

#sidebar div.section a {
	color: #657da2;
}
