

div.entry {
	clear: both;
	margin-bottom: 2em;
	margin-right: 1em;
}

div.person-info {
	float: left;
	position: relative;
	left: 4px;
	margin-top: 25px!important;
	padding: 0 20px 30px 0;
	width: 120px;
	background: url(img/bubble/bubble-nipple.png) top right no-repeat;
	text-align: center;
}

div.person-info a {
	text-decoration: none;
	font-size: 90%;
	color: #666;
}

div.post {
	background: #fff url(img/bubble/bubble-left.png) left repeat-y;
	margin-left: 140px;
}

div.post2 {
	background: url(img/bubble/bubble-right.png) right repeat-y;
}

div.post-contents {
	padding: 0 25px 0 25px;
	margin-right: 10px;
}

div.post-contents p {
	line-height: 140%;
	margin-top: 1em!important;
}

div.post-contents blockquote {
	color: #666;
	line-height: 150%;
}

div.post-contents:after {
	content: "";
	display: block;
	clear: both;
}

h4.post-title, div.post-title {
	background: url(img/bubble/bubble-top-left.png) top left no-repeat;
	margin: 1em 0 0 0;
}

h4.post-title a, div.post-title span {
	display: block;
	background: url(img/bubble/bubble-top-right.png) top right no-repeat;
	padding: 22px 25px 0 25px;
	font-weight: bold;
	font-size: 120%;
	text-decoration: none;
}

h4.post-title a:hover {
	color: #ffc333;
	text-decoration: none;
}

div.post-title span {
	display: block;
	height: 20px;
	font-size: 100%;
}

div.post-title {
	display: block;
}

div.post-header {
	background: url(img/bubble/bubble-top.png) top repeat-x;
}


div.post-footer {
	background: url(img/bubble/bubble-bottom.png) bottom repeat-x;
}

div.post-footer p {
	background: url(img/bubble/bubble-bottom-left.png) bottom left no-repeat;
	margin: 0;
}

div.post-footer p a {
	display: block;
	background: url(img/bubble/bubble-bottom-right.png) bottom right no-repeat;
	padding: 15px 20px 20px 25px;
	text-align: right;
	font-size: 85%;
	color: #999;
	text-decoration: none;
}

div.post-footer p a:hover {
	color: inherit;
	text-decoration: underline;
}

h2.date {
	color: #657da2;
	font-weight: normal;
	font-size: 130%;
	padding-left: 10px;
	padding-top: 1px;
}
