/* Width of the site */
#planet-banner, #content {
	max-width: 100%;
}

/* hiding date */
h2.date {
  display: none;
}

/* hiding head */

div.person-info {
  position: relative;
  z-index: 1;
	float: none;
	margin-top: none;
	margin-left: none;
	padding: none;
	width: 100%;
	background: none;
	text-align: left;
  border-top: 1px solid #b2b2b2;
}

div.person-info a {
	color: #0489B7;
	font-size: large;
	font-weight: bold;
}

div.person-info img {
  display: none;
}

/* hiding bubble decorations */
b.cr,
b.tl,
b.tr
b.bl,
b.br,
b.vt,
b.lt,
b.rt,
b.hz,
b.to,
b.bo {
  display: none;
}

/* sizing and positioning */

div.post {
  margin: 0;
  padding: 0;
}

div.post-contents {
  max-height: 200px;
  overflow: hidden;
}

div.post-contents img {
  max-width: 100%;
}

.post-title {
	font-size: medium;
}

div.post-footer p {
	text-align: left;
}
