body {
font-size: 15px !important;
}

h2.date {
	color: #777;
	font-weight: normal;
	font-size: large;
}

div.entry {
	clear: both;
	margin-bottom: 2em;
}

div.person-info {
	position: relative;
	z-index: 1;
	float: left;
	margin-top: 25px !important;
	margin-left: -1em;
	padding: 0 1.5em 0 1em;
	left: 4px;
	width: 8.5em;
	text-align: center;
}

div.person-info a {
	text-decoration: none;
	color: #777;
	font-size: small;
}
div.person-info a:hover {
	color: inherit;
}
div.person-info a img {
	border: 0px;
	margin-bottom: 1ex;
	width: 100%;
}

div.post {
	position: relative;
	margin-left: 10em;
	padding: 2em;
	background: url(https://planet.gnome.org/img/bubble/post_topbg.png) center top repeat-x, url(https://planet.gnome.org/img/bubble/post_bottombg.png) center bottom repeat-x;
	box-shadow: 0 0 4px rgba(50, 50, 50, 0.25);
	border: 1px solid rgb(192, 192, 192);
	border-radius: 10px;
}

div.post:before {
	position: absolute;
	content: "";
	top: 25px;
	width: 150px;
	height: 150px;
	left: -150px;
	display: block;
	background: transparent url(https://planet.gnome.org/img/bubble/nipple.png) top right no-repeat;
}

b.cr {
	position: absolute;
	background-image: url(img/bubble/corners.png);
	width: 50px;
	height: 50px;
}
b.tl { top: 0px; left: 0px; background-position: top left; }
b.tr { top: 0px; right: 0px; background-position: top right; }
b.bl { bottom: 0px; left: 0px; background-position: bottom left; }
b.br { bottom: 0px; right: 0px; background-position: bottom right; }

b.vt {
	position: absolute;
	background: url(img/bubble/vertical.png) repeat-y;
	width: 50px;
	height: 100%;
}
b.lt { top: 0px; left: 0px; background-position: top left; }
b.rt { top: 0px; right: 0px; background-position: top right; }

b.hz {
	position: absolute;
	background: url(img/bubble/horizontal.png) repeat-x;
	width: 100%;
	height: 50px;
}
b.to { top: 0px; left: 0px; background-position: top left; }
b.bo { bottom: 0px; left: 0px; background-position: bottom left; }

.post-title {
	position: relative;
	z-index: 1;
	margin-top: 0px;
	font-size: large;
}

.post-title a {
	text-decoration: none;
}

.post-title a:hover {
	text-decoration: underline;
}

.post-contents {
	position: relative;
	z-index: 1;
	line-height: 140%;
}

.post-contents h2, .post-contents h3, .post-contents h4 {
	font-size: 100%;
	font-weight: bold;
}

.post-contents img,
.post-contents video {
	width: auto;
	max-width: 650px;
	height: auto;
}

.youtube-player {
	width: 100%;
	margin-bottom: 2%;
}

.post-contents a img {
	border: 0px;
}

.post-contents blockquote, .post-contents pre {
	color: #777;
	margin: auto 1em auto 1em;
	padding-left: 1em;
	border-left: 5px solid #ddd;
}

.post-fixedwidth {
	white-space: pre;
}

.post-contents pre {
	overflow: auto;
}

.post-contents ul {
	margin: 0px;
	margin-left: 1em;
	padding: 0px;
}
.post-contents ul li {
	margin: 1em;
	padding: 0px;
}

.post-contents .delicious-tags {
	text-align: right;
	font-size: x-small;
}

.post-contents:after {
	content: "";
	display: block;
	clear: both;
}

/* Often-used WordPress styles */
.alignleft {
	float:left;
	margin-right:1em;
	margin-bottom:1em;
}
.alignright {
	float:right;
	margin-left:1em;
	margin-bottom:1em;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-smiley {
	vertical-align: middle;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
        max-width: 100%;
	/* optional rounded corners for browsers that support it */
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* Often-used WordPress styles */

.post-footer {
	margin-top: 1em;
}
.post-footer p {
	position: relative;
	z-index: 1;
	margin: 0;
	font-size: small;
	text-align: right;
}
.post-footer p a {
	text-decoration: none;
	color: #777;
}
.post-footer p a:hover {
	text-decoration: underline;
	color: inherit;
}

#copyright {
	clear: both;
	padding-bottom: 1em;
	text-align: center;
	font-size: small;
}

/* Copied from inline css FIXME */

#global_domain_bar
	{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 10px;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #2E3436;
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7em;
	}

	#global_domain_bar a
	{
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px 5px 5px 5px;
		background: url("https://planet.gnome.org/img/30/favicon.png") no-repeat scroll 8px 7px #FFFFFF;
		color: #555753;
		float: right;
		font-size: 12px;
		margin-right: 30px;
		padding: 4px 12px 2px 26px;
		text-decoration: none;
		line-height: 1.7em;
	}
	
	#page
	{
		background: url("https://planet.gnome.org/img/30/html-bg.png") repeat-x scroll center top #FFFFFF;
		font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
	}
	
		
	a
	{ 
		color: #0489B7;
	}
	
	#global_domain_bar div {
		max-width: 940px;
		margin: 0 auto;
	}
	
	div.post-contents
	{
		background: white;
	}
	
	.post-title a
	{
		color: #0489B7;
		font-weight: bold;
	}
	
	#footer, #feeds
	{
    background: none repeat scroll 0 0 #D3D7CF;
    color: #555753;
	}
	#feeds-container {
		padding-top: 20px;
		background: #000;
	}
	
	#feeds-container #feeds {
		background: #000;
	}

	#feeds-container #feeds h3 a {
		color: #fff;
	}

	#footer a
	{
    color: inherit;
	}
	
	#footer-grass
	{
    background: url("https://planet.gnome.org/img/30/grass.png") repeat-x scroll center top transparent;
    height: 39px;
    margin-top: -33px;
	}
	
	#footer-art
	{
		margin-left: auto;
		margin-right: auto;
		clear: left;
		height: 180px;
		margin-top: 0;
		width: 940px;
		background-image: url("https://planet.gnome.org/img/30/default.png");
	}
	
	#planet-banner
	{
    margin-left: auto;
    margin-right: auto;
    clear: left;
    margin-top: 0;
    width: 65em;
    padding: 0 1em;
	}
	
	
	#planet-subtitle
	{
		color: #555753;
		font-size: 100%;
		font-weight: bold;
		margin: 0;
		padding 0;
		padding-top: 14px;
	}
	
	#planet-subtitle p {
	    display: inline-block;
	}
	
	#planet-logo
	{
		vertical-align: middle;
		padding-bottom: 25px;
		margin-left:    26px;
		padding-right:  50px;
	}
	
	.post
	{
		color: #555753;
		line-height: 1.6;
	}

@media (max-width: 640px) {

    #planet-banner {
        width: auto;
        padding: 0;
        margin: ;
    }

    #planet-logo {
        margin: 0;
        padding: 0;
        margin-left: 0;
    }
    
    #planet-subtitle p {
        display: none;
    }
    
    #content {
        padding: 0px;
    }
    
    .entry {
        border-top: 1px solid #c0c0c0;
    }
    
    div.person-info {
        float: none;
        text-align: left;
        padding: 0;
        margin: 0;
        left: 0;
        margin-top: 0 !important;
        width: auto;
    }
    
    div.person-info a {
	    text-decoration: none;
	    color: #777;
	    font-size: large;
	    font-weight: bold;
    }
    
    div.person-info img {
        display: inline-block;
        float: right;
        max-width: 50px;
    }
    
    div.person-info br,
    div.person-info p {
        display: none;
    }
    
    div.post {
        margin-left: 0;
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }

    /* padding for post */
    div.person-info,
    div.post,
    h2.date {
        padding: 10px 10px 0px;
    }
    
    .post-contents {
        overflow: hidden;
    }
    
    .post-contents img,
    .post-contents video,
    .post-contents a img,
    .post-contents table {
        max-width: 100%;
    }
    
    .post-contents .wp-caption {
        margin: 0;
    }
    
    .post-contents h1 {
        line-height: 100%;
        font-size: medium;
    }
    
    .post-title {
        font-weight: normal;
    }
    
    #footer-art {
        display: none;
    }
}
