<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title><TMPL_VAR name></title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
	<link rel="shortcut icon" type="image/png" href="https://planet.gnome.org/img/gnome-16.png">
	<link rel="alternate" type="application/atom+xml" title="<TMPL_VAR title ESCAPE="HTML"> Atom 1.0" href="<TMPL_VAR link ESCAPE="HTML">atom.xml">
	<link rel="alternate" type="application/rss+xml" title="<TMPL_VAR title ESCAPE="HTML"> RSS 2.0" href="<TMPL_VAR link ESCAPE="HTML">rss20.xml">
	<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cantarell:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://planet.gnome.org/css/nlayout.css" type="text/css">
	<link rel="stylesheet" href="https://planet.gnome.org/css/planet.css" type="text/css">
	<link rel="stylesheet" href="https://planet.gnome.org/css/generic.css" type="text/css">
	<link rel="stylesheet" href="https://blogs.gnome.org/wp-content/mu-plugins/bug-links/bug-links.css" type="text/css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script type="text/javascript" src="https://planet.gnome.org/js/jquery.lazyload.min.js"></script>
	<script type="text/javascript"><!-- $(function(){ $('.post img').lazyload(); }); --></script>
</head>

<body>

<div id="page">


	<div id="global_domain_bar">
		<div>
			<a href="https://www.gnome.org"><strong>GNOME</strong>.ORG</a>
		</div>
  </div>

	<div id="planet-banner">
		<div id="planet-subtitle">
			<a href="https://planet.gnome.org"><img id="planet-logo" src="https://planet.gnome.org/img/30/planet-logo.png"  alt="Planet GNOME" title="Planet GNOME"/></a>
			<p>24 hours a day, 7 days a week, 365 days per year...</p>
		</div>
	</div>

	<div id="content">

	<TMPL_IF banner_message>
	<div class="banner"><TMPL_VAR banner_message></div>
	</TMPL_IF>

	<TMPL_LOOP Items>

		<TMPL_IF new_date>
			<h2 class="date"><TMPL_VAR new_date></h2>
		</TMPL_IF>

		<div class="entry<TMPL_IF channel_nick> <TMPL_VAR channel_nick></TMPL_IF>">
			<div class="person-info">
				<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_IF channel_face><img class="face" src="<TMPL_VAR channel_face ESCAPE="HTML">" alt=""><br><TMPL_ELSE><img class="face" src="https://planet.gnome.org/heads/nobody.png" alt=""><br></TMPL_IF><TMPL_VAR channel_name><TMPL_IF channel_real><br><TMPL_VAR channel_real></TMPL_IF><TMPL_IF channel_nick><br>(<TMPL_VAR channel_nick>)</TMPL_IF></a>
				<TMPL_IF channel_opw2013><p><a href="https://wiki.gnome.org/GnomeWomen/OutreachProgram" title="GNOME Outreach Program for Women"><img src="https://planet.gnome.org/heads/logos/opw2013.png" alt="OPW 2013" /></a></p></TMPL_IF>
				<TMPL_IF channel_gsoc2013><p><a href="https://wiki.gnome.org/SummerOfCode2013" title="Google Summer of Code 2013"><img src="https://planet.gnome.org/heads/logos/gsoc2013.png" alt="GSoC 2013" /></a></p></TMPL_IF>
				<TMPL_IF channel_guadec><p><a href="https://www.guadec.org/" title="The GNOME Conference"><img src="https://planet.gnome.org/heads/logos/guadec.png" alt="The GNOME Conference" /></a></p></TMPL_IF>
			</div>

			<div class="post">
				<div class="post-header">
					<TMPL_IF title><h3 class="post-title"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h3></TMPL_IF>
				</div> <!-- /post-header -->

				<div class="post-contents <TMPL_IF channel_fixedwidth>post-fixedwidth</TMPL_IF>">
					<TMPL_VAR content>
				</div> <!-- /post-contents -->

				<div class="post-footer">
					<p><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR date></a></p>
				</div> <!-- /post-footer -->
			</div> <!-- /post -->
	</div> <!-- /entry -->

	</TMPL_LOOP>

</div> <!-- /content -->

<div id="footer-art"> &nbsp; </div>
<div id="footer-grass"> &nbsp; </div>

<div id="feeds">
	<h3><a href="feeds.html">Feeds</a></h3>
	<div id="feedlist"></div>
</div>

<div id="footer">

<div class="column">
<div class="section">
<h3><TMPL_VAR title ESCAPE="HTML"></h3>
<p><b><TMPL_VAR title ESCAPE="HTML"> is a window into the world, work and lives of GNOME <a href="https://planet.gnome.org/heads/">hackers and contributors</a>.</b></p>

<p>Brought to you by the <a href="http://www.planetplanet.org/">Planet</a> aggregator, cron, <a href="http://www.python.org/">Python</a>, <a href="http://www.redhat.com/">Red Hat</a> (who kindly host the GNOME servers). Design by <a href="http://vinicius.depizzol.com.br/blog/">Vinicius Depizzol</a> and <a href="http://aruiz.typepad.com">Alberto Ruiz</a>, inspired by earlier work from <a href="http://bethesignal.org/">Jeff Waugh</a>, <a href="http://www.actsofvolition.com/">Steven Garrity</a>, <a href="http://www.gnome.org/~seth/">Seth Nickell</a> and Diana Fong.</p>

<p><TMPL_VAR title ESCAPE="HTML"> is edited by Alberto Ruiz, Daniel Mustieles García and Frederic Muller. Please <a href="mailto:planet-maint@gnome.org?Subject=planet.gnome.org">mail them</a> if you have a question. If you would like your blog added to the feed, please <a href="https://bugzilla.gnome.org/enter_bug.cgi?product=website;component=planet.gnome.org">file a bug</a>. Make sure to read the <a href="http://live.gnome.org/PlanetGnome"><TMPL_VAR title ESCAPE="HTML"> guidelines</a> first, as it should cover most questions and as it contains detailed instructions for a blog addition.</p>

<p>Updated on <TMPL_VAR date> UTC. Entries are normalised to UTC time.</p>
</div>
</div>

<div class="column">
<div class="section">
<h3>GNOME World Wide</h3>
<p><a href="https://wiki.gnome.org/GnomeWorldWide"><img src="https://people.gnome.org/~jdub/random/GnomeWorldWideSmall.jpg" alt=""></a></p>
<p>GNOME communities around the world by region and language:</p>
<ul>
  <li><a href="http://planeta.br.gnome.org/">Brazil</a></li>
  <li><a href="http://planeta.gnome.cl/">Chile</a></li>
  <li><a href="http://planet.gnomefr.org/">Francophile</a></li>
  <li><a href="http://planet.gnome.gr/">Greece</a></li>
  <li><a href="http://planeta.es.gnome.org/">Hispano</a></li>
  <li><a href="http://www.gnome.org.tr/">Turkey</a></li>

	<!-- Broken planets -->
  <!--li><a href="http://www.gnomebangalore.org/?q=blog">Bangalore, India</a></li-->
  <!--li><a href="http://gnome.cult.bg/">Bulgaria</a></li-->
  <!--li><a href="http://planet.gnome-ev.de/">Germany</a></li-->
  <!--li><a href="http://it.gnome.org/planet/">Italy</a></li-->
  <!--li><a href="http://gnome.or.kr/pgk/">Korea</a></li-->
  <!--li><a href="http://www.uk.gnome.org/planet/">United Kingdom</a></li-->
</ul>
</div>
</div>

<div id="fineprint" class="section">
<h3><img src="https://planet.gnome.org/img/30/gnome-logo.png" alt="GNOME" title="GNOME"></h3>
<p>Copyright © 2003-2013, <a href="https://www.gnome.org/">The GNOME Project</a>.<br>
<a href="http://validator.w3.org/check/referer">Optimised</a> for <a href="http://www.w3.org/">standards</a>.<br>
Hosted by <a href="http://www.redhat.com/">Red Hat</a>.</p>
<p id="ownership">Planet GNOME automatically reposts blog entries from the GNOME community. Entries on this page are owned by their authors. We do not edit, endorse or vouch for the contents of individual posts.</p>
</div> <!-- /fineprint -->

</div> <!-- /footer -->


</div> <!-- /page -->

	<script type="text/javascript" src="https://planet.gnome.org/js/jquery.cookie.min.js"></script>
	<script type="text/javascript">
	function toggleFeeds() {
		$("#feedlist").slideToggle(function() {
			$("#feeds h3").toggleClass("open");
		});
	}
	$(document).ready(function() {
		var hidden = $.cookie("hidden") ? $.cookie("hidden").split(",") : new Array();
		// hide posts by disabled folks
		if (hidden.length > 0) for (i in hidden) {
			$("div." + hidden[i]).hide();
		}
		$("#feeds h3 a").click(function(e) {
			e.preventDefault();
			if ($("#feedlist ul").length == 0) {
				$("#feedlist").load('feeds.html', '', function(r,t,x) {
					$('<input type="checkbox" checked>')
						.change(function() {
							var nick = $(this).parent().attr("class");
							var i = $.inArray(nick, hidden);
							if ($(this).attr("checked")) {
								if (hidden[i]) hidden.splice(i, 1);
								$("div." + nick).show();
							} else {
								if (!hidden[i]) hidden[hidden.length] = nick;
								$("div." + nick).hide();
							}
							$.cookie("hidden", hidden.join(","),
								{expires: 365});
						})
						.prependTo("#feedlist ul li");
					// remove checks from disabled folks
					for (i in hidden) {
						$("#feedlist ul li." + hidden[i] + " input")
							.removeAttr("checked");
					}
					toggleFeeds();
				});
			} else {
				toggleFeeds();
			}
		});
	});
	</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['disableCookies']);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://webstats.gnome.org/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "2"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</body>

</html>
